.aboutus {
    background-color: #f8f9fa; /* Light background color */
    height: aut0; /* Minimum height to fill the screen */
    padding:90px 0 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .aboutus-content {
    width: 80%;
  }
  .content{
    margin-top: 2rem;
  }
  .aboutus-content .text {
    text-align: center;
    width: 100%;
  background-color: #1f7cdf;
  }

  
  .aboutus-content p {
    font-family: sans-serif;
    font-size: 1.1rem; /* Medium font size for paragraphs */
    line-height: 1.6; /* Increase line height for better readability */
    margin-bottom: 20px; /* Add space below paragraphs */
  }
  