.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  position: relative;
}

.close-btn_3 {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  background-color: #007bff;
  border-radius: 50%;
  padding: 5px;
  height: 40px;
  width: 40px;
  color: aliceblue;

}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #007bff;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.add_input_box {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 90%;
}

.add-btn {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 95%;
  height: 50px;
}

.add-btn:hover {
  background-color: #0062ff;
}
.student_section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin-bottom: 20px;
  box-shadow: 0 0 1px rgb(109, 109, 109);
  padding: 10px;
  border-radius: 10px;
}
.student_section img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.student_section label {
  background-color: #007bff;
  padding: 10px;
  border-radius: 5px;
  color: aliceblue;
  cursor: pointer;
}
