
.r_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: sans-serif;
  background: url('../assets/back2.png') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.r_main_container {
  background-color: #72d3f9;
  box-shadow: 5px 8px 16px rgba(0, 0, 0, 0.1);
  width: 40%;
  transition: transform 0.3s, box-shadow 0.3s;
border-radius: 20px 20px 20px 0;
display: flex;
justify-content: end;
flex-direction: column;
text-align: center;
padding:0 0px 20px 10px;
}

.r_form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.r_title {
  font-size: 28px;
  margin-bottom: 25px;
  color: #047df6;
  text-align: center;
  font-weight: 700;
}

.input-field {
  border: 1px solid #d0d5dd;
  background-color: #e1e5ec;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s;
  width: 80%;
}
.input-field-select{
  border: 1px solid #d0d5dd;
  background-color: #e1e5ec;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s;
  width: 85%;
}
.input-field:focus {
  border-color: #4a90e2;
  box-shadow: 0 0 0 3px rgba(74, 144, 226, 0.2);
  outline: none;
}

.submit-btn_10 {
  background-color: #007BFF;
  color: #fff;
  padding: 12px;
  width: 85%;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.submit-btn_10:hover {
  background-color: #0364b9;
  transform: translateY(-3px);
}

.link {
  margin-top: 20px;
  text-align: center;
  font-size: 1rem;
}

.link a {
  color: #4a90e2;
  text-decoration: none;
  transition: color 0.3s;
  font-weight: bold;
  text-decoration: underline;
}

.link a:hover {
  color: #357ab8;
}
.sub{
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.rsub{
  width: 60%;
  background: url("../assets/signup.jpg") no-repeat;
  background-size: cover;
  position: relative;
  left: 1rem;
  border-radius: 20px 0 20px 0px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: end;
}
.rsub2{
  width: 60%;
  background: url("../assets/login.jpg") no-repeat;
  background-size: cover;
  background-position: right;
  position: relative;
  left: 1rem;
  border-radius: 20px 0 20px 0px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: end;
}
.backtohome{
  height: 20px;
  border-radius: 0px 20px 0px 0px;
  background: #007BFF;
  color: #fff;
  font-weight: bolder;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: .5rem 0;
  margin-bottom: .5rem;
  cursor: pointer;
}
.backtohome:hover{
  background: #0364b9;
}
