.popup-overlay_3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

}

.popup-content_3 {
  background: #fff;
  padding: 1rem;
  border-radius: 5px;
  width: 500px;
  position: relative;
  z-index: 10000;
}
.button-container_2 {
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
}
.button-container_2 h2 {
  width: 90%;
  text-align: center;
}
.close-button_3 {
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  width: 10%;
  height: 100%;
  background-color: #007bff;
  border: none;
  color: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.close-button_3:hover {
  background-color: #003875;
}
.disease-contents {
  margin-top: 0.5rem;
  padding: 1rem;
}
.search-box_2 {
  margin-bottom: 20px;
  height: 45px;
}

.search-box_2 input {
  height: 100%;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: rgb(244, 240, 234);
  border: none;
}

.diseases-list {
  max-height: 200px;
  overflow-y: auto;
}

.disease-box {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}
