.doctor-home {
  background: url("../assets/back2.png") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8rem 2rem 0 2rem;
  margin-top: 20px;
  gap: 20px;
}

.doctor-home-main-container {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: start;
  height: 80%;
}

.doctor-name-container {
  height: 450px;
  border-radius: 10px;
  background: url("../assets/doctor-home.jpg") no-repeat;
  background-size: cover;
  transition: all 0.3s ease;
  text-align: center;
  color: rgb(0, 136, 255);
  padding-top: 1rem;
  width: 60%;
}

.doctor-name-container h1 {
  text-align: center;
  background: #fafafa;
  padding: 1rem 0;
}

.doctor-name-container:hover {
  transform: scale(1.05);
}

.doctor-home-container {
  width: 40%;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.doctor-home-box {
  width: 90%;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
  background-color: #f0f0f0;
  transition: transform 0.2s, background-color 0.2s;
}

.doctor-home-box:hover {
  transform: scale(0.95);
  background-color: #e0e0e0;
}

.doctor-home-box h2 {
  font-size: 18px;
  color: #333;
}
@media screen and (max-width: 876px) {
  .doctor-home-main-container {
    flex-wrap: wrap;
  }
  .doctor-name-container {
    width: 100%; /* Full width for smaller screens */
  }

  .doctor-home-container {
    width: 100%; 
    justify-content: start;
  }
  .doctor-home-box {
    width: 100%;
  }
}
/* Media query for screens with a width of 776px or less */
@media screen and (max-width: 776px) {



}
@media screen and (max-width: 479px) {
  .doctor-name-container h1 {
    font-size: 1.1rem;
  }
  .doctor-name-container {
    height: 300px;}
}