.event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0 50px 0;
  background: url("../assets/back1.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 90vh;
  gap: 30px;
}

.eve_main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.eve_sub_1 {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 3rem;
  flex-direction: column;
}

.eve_sub_2 {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.eve_img_main {
  width: 90%;
  height: 70%;
  border-radius: 10px;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.eve_img_sub {
  width: 80%;
  height: 40%;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.eve_text_1 {
  font-size: 6rem;
  color: rgb(0, 157, 255);
  font-weight: 800;
}
.eve_text_2 {
  font-size: 5rem;
  color: rgb(0, 157, 255);
  font-weight: 800;
}
.delete_icon {
  position: relative;
  color: rgb(255, 0, 0);
  font-size: 34px; 
  cursor: pointer;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  width: 60px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center ;
  padding: 5px;
}