.footer {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  color: white; /* White text */
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}
.footer-content {
  background: url("../assets/rcc_cover.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between; /* Center align items */
  width: 100%;
  align-items: center;
  height: 230px;
}

.container_1 {
  width: 20%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.container_1 ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0;
}

.container_1 ul a {
  color: white;
  text-decoration: none;
}

.container_1 ul a:hover {
  text-decoration: underline rgb(255, 255, 255);
  color: #6ea5df;
}

.footer__heading {
  font-size: 1.3rem;
  margin: 0.5rem;
}

.footer__copyright {
  background-color: #047dff; /* Darker blue for copyright section */
  padding: 1rem;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 5px black;
}

.icons-list {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}
.icons-list h3 {
  font-size: 1.1rem;
}
