.main-home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 90px 0 3rem 0;
  background-color: #fffafa;
  background: url("../assets/back1.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.sub_1 {
  display: flex;
  height: 300px;
  width: 100%;
  gap: 1rem;
}
.sub_2 {
  display: flex;
  height: 300px;
  width: 100%;
  gap: 1rem;
}

.home-container {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.sub_1_1 {
  height: 100%;
  width: 60%;
  background: url("../assets/primary.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  transition: transform 1s ease; /* Add transition for smooth rotation */
}

.sub_1_1:hover {
  transform: rotateY(180deg); /* Corrected transform property */
}

.sub_1_2 {
  height: 100%;
  width: 40%;
  background-color: #fafdff7b;
  box-shadow: 0 0 10px black;  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  color: #008cff;

}
.sub_1_2 button {
padding: 1rem 2rem;
}
.sub_2_1 button {
padding: 1rem 2rem;
}
.sub_2_1 {
  height: 100%;
  width: 40%;
  background-color: #fafdff7b;
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  display: flex;
  color: #008cff;
}
.sub_2_2 {
  height: 100%;
  background: url("../assets/secondary.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  width: 60%;
  border-radius: 10px;
  transition: transform 1s ease; /* Add transition for smooth rotation */
}
.sub_2_2:hover {
  transform: rotateY(180deg); /* Corrected transform property */
}
