/* Base styles */
.navbar {
  color: #008cff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
  font-size: 0.8rem;
  height: auto;
  top: 0;
  width: 100vw;
  position: fixed;
  z-index: 1000;
  background-color: aliceblue;
  box-shadow: 0 0 10px black;
  flex-direction: column;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
  margin: 8px;
  height: 70px;
}

.rcc-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 20px;
  background-color: #007bff;
  color: #ddd;
  height: 20px;
  font-size:16px;
  width: 100%;
}

@media screen and (max-width: 844px) {
  .rcc-name {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 684px) {
  .rcc-name {
    font-size: 0.6rem;
  }
  .contact-info {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 587px) {
  .rcc-name {
    font-size: 0.5rem;
  }
  .contact-info {
    font-size: 0.6rem;
  }
}
@media screen and (max-width: 450px) {
  .rcc-name {
    font-size: 0.43rem;
  }
  .contact-info {
    font-size: 0.5rem;
  }
}

.contact-info {
  display: flex;
  align-items: center;
}

.rcc-name {
  text-align: center;
}

.logo {
  align-items: center;
  position: relative;
  height: 70px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px black;
}

.logo img {
  align-items: center;
  position: relative;
  height: 100%;
  border-radius: 50%;
}

.nav-links {
  list-style-type: none;
  display: flex;
  color: #009dff;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  font-weight: 500;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
}

.nav-links li {
  margin-left: 20px;
  text-decoration: none;
  position: relative; /* To contain dropdown */
}

.nav-links li:hover {
  color: #007bff;
  border-bottom: 2px solid #007bff;
}

/* Dropdown styles */
.dropdown {
  display: none;
  position: absolute;
  top: 120%;
  right: 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 200px;
  padding: 1rem;
}

.nav-links li:hover .dropdown,
.dropdown:hover {
  display: block; /* Keep dropdown open on hover */
}

.dropdown a {
  display: flex;
  padding: 10px;
  color: #0095ff;
  text-decoration: none;
  white-space: nowrap;
  justify-content: space-between;
  align-items: center;
}

.dropdown a:hover {
  background-color: #f0f0f0;
}

/* Submenu styles */
.submenu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 200px;
}

.dropdown a:hover + .submenu,
.submenu:hover {
  display: block; /* Keep submenu open on hover */
}

.submenu a {
  display: block;
  padding: 10px;
  color: #000;
  text-decoration: none;
}

.submenu a:hover {
  background-color: #f0f0f0;
}

.profile-icon {
  position: relative;
  cursor: pointer;
}

.profile-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  color: black;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 1rem;
  z-index: 1000;
  width: 200px;
}

.profile-dropdown p {
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  height: 40px;
  font-size: 1rem;
  justify-content: space-between;
  color: #008cff;
}

.name-email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #007bff;
}

.profile-dropdown p:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.profile-dropdown a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: black;
}

.profile-dropdown a:hover {
  background-color: #f0f0f0;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger svg {
  font-size: 1.5rem;
}

/* Default state */
.nav-container ul li:nth-child(1) {
  display: none;
}

/* Media query for screens less than 1098px */
@media screen and (max-width: 1098px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #00000078;
    width: 40%;
    position: absolute;
    top: 100%;
    right: 0;
    padding: 1rem 0;
    font-size: 1rem;
    color: #fff;
    height: 80vh;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    padding: 1rem;
    text-align: center;
  }

  .nav-links li:hover {
    color: #02215e;
  }

  .hamburger {
    display: block;
  }
  
  .nav-container ul li:nth-child(10) {
    display: none;
  }

  .nav-container ul li:nth-child(1) {
    display: initial;
  }
}

/* Media query for screens 1098px and above */
@media screen and (max-width: 1098px) {
  .nav-container ul li:nth-child(1) {
    display: initial;
  }
}

.profile_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
