.message-box {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .message-box input {
    flex-grow: 1;
    margin-right: 10px;
    padding: 5px;
  }
  
  .message-box button {
    padding: 5px 10px;
    height: 35px;
  }
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-content_2 {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 60%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    height: 80%;
  }
  .button-container{
    justify-content: space-between;
    height: 40px;
    align-items: center;
    margin-bottom: 1rem;
  }
  .button-container h2{
    width: 94%;
    text-align: center;
  }
  .close-button_5 {
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    width: 6%;
    height: 100%;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .close-button_5:hover {
    background-color: #003875;
  }
  
  .patients-list_2 {
    display: flex;
    flex-direction: column;
    padding: .8rem;
  }
  
  .patient-box_2 {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px 0;
  }
  
  .patient-box_2 h3 {
    margin: 0;
  }
  
  .patient-box_2 p {
    margin: 5px 0;
  }
  .patients-list-container{
    height: 50%;
    overflow: scroll;
  }
  .main-patients-list-container{
    height: 92%;
  }