.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  flex-direction: column;
  gap: 10PX;
}

.modal-content_6 {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
@media screen and (max-width: 450px) {
  .modal-content_6 {
    width: 310px;
  }
}
.modal-content_6 .inputs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 30px;
}
.modal-content_6 h2 {
  margin-bottom: 1rem;
  color: #007bff;
}

.modal-content_6 form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal-content_6 label {
  margin-bottom: 10px;
  width: 30%;
}

.modal-content_6 input,
.modal-content_6 select {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 60%;
}

.modal-content_6 .submit {
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  width: 100%;
}

.modal-content_6 .submit:hover {
  background-color: #003b7a;
}
.cancel_button_2 {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 240, 240);
  font-size: 1rem;
  font-weight: 800;
}
.update_profile_section{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  box-shadow: 0 0 1px rgb(109, 109, 109);
  padding: 10px;
  border-radius: 10px;
}
.update_profile_section img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.update_profile_section label{
  background-color: #007bff;
  padding: 10px;
  border-radius: 5px;
  color: aliceblue;
  cursor: pointer;
  position: relative;
  top: 20px;
  right: 15px;
}
.update_profile_section label{
  background-color: #4a95eb;
  padding: 5px;
  border-radius: 5px;
  color: aliceblue;
  cursor: pointer;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 20px;
}