.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding:90px 0 3rem 0;
  background: url('../assets/back.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed; 
  flex-direction: column;
  color: #ffffff;
}

.review-container {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden; 
  gap: 3rem;
  margin-top: 2rem;
  z-index: 1;
}

.review-box {
  background-color: rgb(0, 166, 255);
  flex: 0 0 auto; 
  width: 26.5%; 
  height: 200px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.5s ease;
  font-family: sans-serif;
}

.review-box img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.review-box h3 {
  margin-bottom: 10px;
}

.rating {
  margin-top: 10px;
}

.star {
  color: #ffd700; /* Gold color for stars */
  font-size: 20px;
}



.review-inputs{
  width: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
background-color: #1f7cdf90;
padding: 1rem;
border-radius: 10px;
}
.review-form{
  width: 80%;
  margin-top: 2rem;
}
.sub1{
  width: 100%;
  justify-content: space-between;
  display: flex;
  gap: 10px;
  height: 50px;
}
.sub1 input{
  width: 20%;
  text-align: center;
border-radius: 10px;
}
.sub1 textarea{
  width: 70%;
  text-align: center;
  border: none;
  border-radius: 10px;
  padding-top: 1rem;
}
.sub2{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  height: 50px;
}
@media screen and (max-width: 479px) {
  .review-box {
    width: 90%; 
  }
}
@media screen and (max-width: 479px) {
  .sub1 input{
    width: 30%;

  }
  .sub1 textarea{
    width: 60%;

  }
}