.services {
    background-color: #f8f9fa; /* Light background color */
    display: flex;
    justify-content: center;
    background: url('../assets/back2.png') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding:90px 0 3rem 0;
  }
  
  .services-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-around;
    gap: 30px; 
    margin-top: 2rem;
    font-family: sans-serif;
  }
  
  .service-box {
    background-color: #fff; /* White background for service boxes */
    padding: 30px; /* Add padding inside the boxes */
    border-radius: 10px; /* Add some border radius for rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow effect */
    width: 280px; /* Set a fixed width for each service box */
    text-align: center; /* Center-align text inside the boxes */
    height: 40vh;
  cursor: pointer;
 }
  .service-box:hover {
   transform: scale(1.05);
   transition: 0.3s ease;

 }
 .box1{
    background: url('../assets/bookdoctor.jpg') no-repeat;
    background-size: cover;
    background-position: center; 
 }
 .box2{
    background: url('../assets/hospitals.jpg') no-repeat;
    background-size: cover;
    background-position: center; 
 }
 .box3{
    background: url('../assets/healthtips.jpg') no-repeat;
    background-size: cover;
    background-position: center; 
 }
 .box4{
    background: url('../assets/identifydisease.jpg') no-repeat;
    background-size: cover;
    background-position: center; 
 }
  .service-box h2 {
    font-size: 1.5rem; /* Increase the font size for service names */
    margin-bottom: 10px; /* Add some space below the service names */
    background-color: #ffffff8c;
  }
  
  .service-box p {
    font-size: 1rem; /* Set font size for service descriptions */
    background-color: #ffffff76;
  }