.services-container {
  overflow: hidden;
  width: 100%;
  height: AUTO; /* Adjust height as needed */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background: url("../assets/back1.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 2rem;
}

.slider {
  display: flex;
  animation: scroll 35s linear infinite;
  gap: 2rem;
}

.slide {
  min-width: 100%;
  position: relative;
}

.slide img {
  width: 100%;
  height: 600px; 
  object-fit: cover;
  border-radius: 10px;
}

.description {
  position: absolute;
  bottom: 10px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.slide:hover .description {
  opacity: 1;
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% * 2)); /* Adjust based on number of images */
  }
}
.text2 h1{
  width: 90%;
  font-size: 2rem;
  background: linear-gradient(
    90deg,
    rgba(72, 72, 72, 0.8),
    rgba(1, 162, 255, 0.8),
    rgba(255, 1, 1, 0.8)
  ); 
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: shine 2s infinite linear;
border: solid;
}
.text2 {
  width: 100%;
  display: flex;
  justify-content: center;align-items: center;
}