.popup-overlay_2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

}

.popup-content_2 {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 500px; 
  position: relative;
  display: flex;
  flex-direction: column;
}
.button-container_5{
display: flex;
justify-content: space-between;
align-items: center;
}
.button-container_5 h2{
width: 90%;
text-align: center;
}
.close-button{
  border: none;
}
.popup-columns {
  display: flex;
  margin-top: .5rem;
}

.doctors-list {
  border-right: 1px solid #ccc;
  text-align: center;
  padding: 1rem;
}

.doctors-list h3 {
  margin-top: 0;
}

.doctors-list ul {
  list-style-type: none;
  padding: 0;
  margin-top: 1rem;
}

.doctors-list li {
  margin-bottom: 10px;
}

.appointment-form {
  flex: 2;
  padding-left: 20px;
}

.form-group {
  margin-bottom: 15px;
}


.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  background-color: rgb(244, 240, 234);
border: none;
}
.submit-btn_2{
background-color: #007BFF;
border: none;
padding: .8rem 2rem;
border-radius: 5px;
color: #fff;
width: 100%;
}
.available-doctors{
  border: 1px solid #ddd;
  padding: 5px;
  margin: 10px 0;
  transition: all 0.3s ease;
  cursor: pointer;
}
.available-doctors:hover{
  transform: scale(.95);
}
.button-container_5 h2{
font-size: 1.2rem;
}
@media screen and (max-width: 500px) {
  .popup-content_2 {
    width: 450px; 
  }
  .button-container_5 h2{
    font-size: 1rem;
    }
    .doctors-list {
      width: 90px;
    }
}